/*  your css code here. If applicable */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

#line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 2px;
    background-color: #000000;
    transform-origin: left center;
}